<% provide(:title, 'About Us') %>
<!DOCTYPE html>

    <h1>About Us</h1>
    <h2>About this sample app</h2>

    <h3>Purpose:</h3>
    <ul>
      <li>To learn how to use <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
      <li>To create a demo website</li>
      <li>To get demonstrable experience in web development</li>
    </ul>

    <h3>What the site will do:</h3>
    <p>This site will be a simple clone of Twitter. It will allow users
    to post messages and read the messages of any other user that they are
    following.</p>
